$green: #23e03f;
$darkGrey: #231f20;
$mediumGrey: #323232;
$lightGrey: #7d7d7d;

//--------------------------------------------
$headerBackground: $green;

$articleBackground: #fff;

$articleHeadingBackground: $green;
$articleHeadingText: #fff;

$nextMeetingHeadingBackground: $darkGrey;
$prevMeetingHeadingBackground: $lightGrey;
$prevMeetingHeadingTest: #fff;
$prevMeetingText: $darkGrey;
$prevMeetingBorder: $lightGrey;
$mediaLinkIcon: $lightGrey;

$presenterText: $green;

$footerBackground: $mediumGrey;
$footerText: #fff;
$vcardText: $green;

$trackUs: $green;